[submodule "home/vim/bundle/vim-surround"]
	path = home/vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround
[submodule "home/vim/bundle/snipmate.vim"]
	path = home/vim/bundle/snipmate.vim
	url = http://github.com/msanders/snipmate.vim
[submodule "home/vim/bundle/vim-scmdiff/plugin"]
	path = home/vim/bundle/vim-scmdiff/plugin
	url = http://github.com/ghewgill/vim-scmdiff
[submodule "home/vim/bundle/supertab"]
	path = home/vim/bundle/supertab
	url = http://github.com/ervandew/supertab
[submodule "home/vim/bundle/taglist.vim"]
	path = home/vim/bundle/taglist.vim
	url = http://github.com/vim-scripts/taglist.vim
[submodule "home/vim/bundle/SearchComplete"]
	path = home/vim/bundle/SearchComplete
	url = http://github.com/vim-scripts/SearchComplete
[submodule "home/vim/bundle/NERD_commenter"]
	path = home/vim/bundle/NERD_commenter
	url = http://github.com/scrooloose/nerdcommenter
[submodule "home/vim/bundle/ack.vim"]
	path = home/vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim
[submodule "home/vim/bundle/nerdtree"]
	path = home/vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule "home/vim/bundle/ctrlp.vim"]
	path = home/vim/bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim
[submodule "home/vim/bundle/gundo"]
	path = home/vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim
