[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/vim/bundle/vim-surround"]
	path = home/vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround
[submodule "home/vim/bundle/snipmate.vim"]
	path = home/vim/bundle/snipmate.vim
	url = http://github.com/msanders/snipmate.vim
[submodule "home/vim/bundle/vim-scmdiff/plugin"]
	path = home/vim/bundle/vim-scmdiff/plugin
	url = http://github.com/ghewgill/vim-scmdiff
[submodule "home/vim/bundle/supertab"]
	path = home/vim/bundle/supertab
	url = http://github.com/ervandew/supertab
[submodule "home/vim/bundle/taglist.vim"]
	path = home/vim/bundle/taglist.vim
	url = http://github.com/vim-scripts/taglist.vim
[submodule "home/vim/bundle/vim-yankring"]
	path = home/vim/bundle/vim-yankring
	url = http://github.com/chrismetcalf/vim-yankring
